body {
    display: flex;
    flex-direction: column;
    padding: 0 100px;
}

header {
    display: flex;
    align-items: center;
}

ul {
    display: flex;
    margin-left: auto;
    gap: 15px;
}

.header {
    font-size: 24px;
    color: #F9FAF8;
}

li {
    list-style: none;
}

div.content, li {
    font-size: 18px;
    color: #E5E7EB;
}

.container, header {
    background-color: #1F2937;
}

.container {
    display: flex;
}

img {
    width: 300px;
    height: 300px;
}

button {
    /* call to action background */
    background-color: #3882F6; 
    color: white;
}