body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

header {
    display: flex;
    align-items: center;
    padding: 0 150px;
}

.container, header {
    background-color: #1F2937;
}

.header {
    font-size: 24px;
    color: #F9FAF8;
}

ul {
    display: flex;
    margin-left: auto;
    gap: 30px;
}

li {
    list-style: none;
}

.content, li, button {
    font-size: 18px;
    color: #E5E7EB;
}

.container {
    display: flex;
    gap: 50px;
    padding: 75px 150px;
    text-align:left;
}

.text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

button {
    /* call to action background */
    background-color: #3882F6; 
    color: white;
    border: none;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 10px 30px;
    margin-top: 13px;
    font-weight: bold;
}

.info-header {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    padding: 30px;
}

.info {
    display: flex;
    flex-direction: column;
    margin-bottom: 75px;
}

.info-container {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.img-container, img {
    width: 125px;
}

img {
    height: 125px;
    border: 1px solid black;
    border-radius: 10px;
}

